.wk-affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    background: white;
    border-bottom: 1px solid #b3b2b2;
    box-shadow: -7px -5px 15px;
    height: 100px;
}

.wk-u-margin-top--header {
    margin-top: 100px; 
}

.wk-u-ellipsis {
    text-overflow: ellipsis;
    width: 100%;
    display: block;
    overflow: hidden;
}

.wk-load-page {
    display: block;
    text-align: center;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
}

.wk-load-page:before {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.wk-load-page > img {
    vertical-align: middle;
    max-height: 40px;
}

.hide {
    display: none;
}

@media(min-width: 460px) {
    .wk-affix {
        height: 60px;
    }
    
    .wk-u-margin-top--header {
        margin-top: 60px; 
    }
}